
todo_app/macos/Flutter/GeneratedPluginRegistrant.swift
todo_app/pubspec.lock
todo_app/pubspec.lock
/todo_app/android
todo_app/pubspec.lock
/sneaker_shop_app/windows
/sneaker_shop_app/macos
/sneaker_shop_app/web
/sneaker_shop_app/linux
sneaker_shop_app/pubspec.lock
/sneaker_shop_app/ios
/sneaker_shop_app/android
sneaker_shop_app/.metadata
sneaker_shop_app/analysis_options.yaml
