name: sneaker_shop_app
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.90

environment:
  sdk: ^3.6.0

dependencies:
  flutter:
    sdk: flutter
  google_nav_bar: ^5.0.7

dev_dependencies:
  flutter_lints: ^5.0.0
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true

  assets:
    - lib/images/
